:root{
    --font-x1:clamp(0.6rem,1vw + 0.1rem,2rem);
    --font-md:clamp(0.9rem,1.3vw + 0.1rem,3rem);
    --font3:clamp(1.1rem,1.6vw + 0.1rem,3rem);
}
.titulo{
    text-align: center;
    font-size: var(--font3);
    color:aliceblue;
}

header{
    
    background-image:url(imagens/céu\ azul\ noturno.jpg);
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh;
    border: solid 0px;
    text-shadow: white 0px 0px 2px;
    background-size: 100% 100%;
    text-align:center;
    min-height: 100vh;
    font-size:var(--font-md);

 /*
 width: 100%;
 min-height: 100vh;
 background-image:url(imagens/céu\ azul\ noturno.jpg);
 background-repeat:no-repeat;
 background-size:100% 100%;
 display:list-item;
 justify-content:center;
 align-items:center;
 */
}

video{
    /*
    margin: 1 auto;
    width: 80%;
    height:100%;
    */
    width: 80%;
    height: 100%;
    display: block;
    margin: 1% auto;
    min-width: 70%;
}

main{
    text-align:left;
    padding-left:10%;
    padding-right: 10%;
    background-color:blanchedalmond;
}

footer{
    text-align: left;
    background-color:blanchedalmond;
}

h3{
    text-align:center;
    font-size:var(--font-md);
}

h2{

    font-size:var(--font-md);
}
/*altura e largura maxima da caixa da imagem, margin-> centralizar, no html a imagem fica 100% dimensoes*/
figure{
    
    width: 80%;
    height: 100%;
    display: block;
    margin: 1% auto;
    min-width: 70%;
    /*
    display:block;
    width: 95%;
    max-width: 1000px;
    margin-right: auto;
    margin-left:auto;
    */

}

p {
  font-size: var(--font-x1)
}

body{
    background-color: black;
}


